<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}pluma{% endblock %}</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
</head>

<body>

<header class="site-header">
	<div class="site-header-inner">
		<a class="brand" href="{{ get_url(path='/') }}"><img class="icon" src="{{ get_url(path='icons/feather.svg') }}"/> pluma</a>

		<ul>
			<li><a href="{{ get_url(path='docs/') }}"><img class="icon" src="{{ get_url(path='icons/docs.svg') }}"/> docs</a></li>
			<li><a href="{{ get_url(path='blog/') }}"><img class="icon" src="{{ get_url(path='icons/blog.svg') }}"/> blog</a></li>
		</ul>
	</div>
</header>

{% block content %}{% endblock %}

</body>
</html>
